/*RESET*/
* {
	margin: 0;
	padding: 0;
}
/*STYLES*/
body {
	background-color: #ecf0f1;
	height: 100%;
	width: 100%;
}
nav {
	color: #f39c12;
	height: 60px;
	padding-top: 5px;
	font-weight: 500;
	font-size: 2.8vw;

}
.navitem {
	min-width: 20%;
	max-width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
}
.navitem:hover {
	background-color: #e74c3c;
}