/*RESET*/
* {
	margin: 0;
	padding: 0;
}
/*STYLES*/
body {
	background-color: #ecf0f1;
	height: 100%;
	width: 100%;
}
nav {
	color: #130f0e;
	font-weight: 500;
	font-size: 2vw;

}
.navitem {
	padding: 20px 0;
	min-width: 20%;
	max-width: 20%;
	display: inline-block;
	float: left;
	text-align: center;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.navitem:hover {
	background-color: #e74c3c;
	color: #ecf0f1;
}

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
  .navitem {
  	min-width: 100%;
  	max-width: 100%;
  	padding: 4px 0;
  }
  .navitem:hover {
  	background-color: #ecf0f1;
  	color: #130f0e;
  }
}